/*Body*/
body {
  background-color: #e1c9f0; }

/*Header*/
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: auto; }
  .navbar li {
    padding: 15px 25px 15px 25px;
    letter-spacing: 1.5px;
    font-family: "Staatliches", cursive; }
    .navbar li:hover {
      background-color: lavender; }

#menu {
  flex-grow: 0; }

#menu, .navbar-toggler {
  background-color: pink; }

.navbar-toggler {
  margin: 15px; }

/*Main*/
main nav .breadcrumb {
  display: flex;
  justify-content: flex-end;
  background-color: #e1c9f0; }
  main nav .breadcrumb:hover {
    color: #e1c9f0; }

.titulos__micaScott {
  color: #0d0438;
  background-color: #e1c9f0;
  font-family: "caveat", cursive;
  font-size: 600%;
  margin: 0px 0px 20px 20px;
  padding: 0px 0px 20px 20px; }

.titulos__secciones {
  font-family: "Staatliches", cursive;
  font-size: 170%;
  /*margin-left: 40px;*/
  margin-bottom: 40px; }

li {
  color: #0d0438;
  list-style-type: none; }

a {
  color: #0d0438;
  text-decoration: none; }

h1 {
  color: #0d0438; }

h2 {
  margin: 15px 0px 15px 0px;
  color: #0d0438;
  background-color: pink; }

span {
  color: #0d0438;
  background-color: pink;
  font-size: 20px;
  font-family: "Staatliches", cursive; }

/*Cursos*/
.imagenClases {
  margin: 0px 0px 30px 40px; }

/*Footer*/
.geografia {
  color: #0d0438;
  padding-left: 20px; }

.navRedes li {
  display: inline-block;
  padding: 10px; }
  .navRedes li:hover {
    transform: translateY(10px); }

.copyright {
  color: #0d0438;
  text-align: right;
  font-size: 80%;
  margin-right: 20px; }

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#micaScott {
  color: #0d0438;
  font-family: "caveat", cursive;
  font-size: 600%;
  margin: 40px 0px 20px 40px;
  padding: 40px 0px 20px 20px; }

#makeupBeautyArt {
  color: #0d0438;
  font-family: "Staatliches", cursive;
  font-size: 200%;
  letter-spacing: 2px;
  margin-left: 120px;
  background: #e1c9f0;
  animation: fadeInRight 3s; }

#footerIndex {
  margin-top: 460px; }

.gridCatalogos {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  align-content: space-evenly; }
  img .gridCatalogos div a:hover {
    transform: translateY(-10px); }

.pediPorWa p {
  font-size: 180%;
  font-weight: 50%;
  font-family: "caveat", cursive; }

.escalerita1 {
  margin-left: 100px; }

.escalerita2 {
  margin-left: 120px; }

.escalerita3 {
  margin-left: 140px; }

.giftcards {
  display: inline-block;
  background: lavender;
  padding: 5px; }
  .giftcards li {
    text-decoration: none;
    line-height: 1.5; }
    .giftcards li:hover {
      background: pink; }

.sobreMi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "article1 article2" "article3 article4";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: stretch; }

.article1 {
  grid-area: article1;
  background-color: lavender;
  justify-self: center;
  align-self: center; }

.article2 {
  grid-area: article2;
  background-color: lavender;
  justify-self: center;
  align-self: center; }

.article3 {
  grid-area: article3;
  background-color: lavender;
  justify-self: center;
  align-self: center; }

.article4 {
  grid-area: article4;
  background-color: lavender;
  justify-self: center;
  align-self: center; }

/*card*/
.container {
  position: relative; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.container:hover .image {
  opacity: 0.3; }

.container:hover .middle {
  opacity: 1; }

.text {
  background-color: pink;
  color: #0d0438;
  font-size: 130%; }

form {
  background-color: pink;
  line-height: 2.5;
  text-align: center;
  padding: 40px 40px 40px 40px;
  margin: 40px 0px 40px 0px; }

#enviarFormulario {
  margin-bottom: 25px; }

.contactoFondo {
  background-color: lavender; }

.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center; }
  .contacto img {
    padding: 40px 40px 40px 40px;
    margin: 50px 0px 40px 0px;
    animation: fadeInRight 1s; }

@media (max-width: 575.98px) {
  /*Cursos*/
  .imagenClases {
    margin: 0px 0px 30px 0px; }
  /*Catalogos*/
  .gridCatalogos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); }
  .escalerita1 {
    margin-left: 10px; }
  .escalerita2 {
    margin-left: 10px; }
  .escalerita3 {
    margin-left: 10px; }
  /*Sobre mi*/
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container .image {
    opacity: 0.3; }
  .container .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; }
  .contacto {
    display: flex;
    flex-wrap: wrap; } }

#footerIndex {
  /*margin-top: 30px*/ }

/*Contacto*/
.contacto img {
  padding: 40px 40px 40px 40px;
  margin: 10px 0px 40px 0px;
  animation: fadeInRight 1s; }

@media (min-width: 576px) and (max-width: 767.98px) {
  /*Cursos*/
  .imagenClases {
    margin: 0px 0px 30px 0px; }
  .gridCatalogos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); }
  .escalerita1 {
    margin-left: 10px; }
  .escalerita2 {
    margin-left: 10px; }
  .escalerita3 {
    margin-left: 10px; }
  /*Sobre mi*/
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container .image {
    opacity: 0.3; }
  .container .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; }
  /*Contacto*/
  .contacto {
    display: flex;
    flex-wrap: wrap; }
  img {
    /*padding: 40px 40px 40px 40px;
		margin: 10px 0px 40px 0px;*/
    animation: fadeInRight 1s; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  #footerIndex {
    margin-top: 530px; }
  .gridCatalogos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .escalerita1 {
    margin-left: 40px; }
  .escalerita2 {
    margin-left: 40px; }
  .escalerita3 {
    margin-left: 40px; }
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center; }
    .contacto img {
      padding: 40px 40px 40px 40px;
      margin: 0px 0px 40px 0px;
      animation: fadeInUp 1s; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .gridCatalogos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .contacto {
    background-color: lavender;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr); } }
