/*Body*/
body {
  background-color: #ffffff; }

/*Header*/
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: auto; }
  .navbar .navbar-nav {
    display: flex;
    flex-wrap: wrap; }
    .navbar .navbar-nav li {
      padding: 15px 25px 15px 25px;
      letter-spacing: 1.5px;
      font-family: "Staatliches", cursive; }

#menu {
  flex-grow: 0; }

#menu, .navbar-toggler {
  background-color: pink; }

.navbar-toggler {
  margin: 15px; }

.nav-link {
  background-image: linear-gradient(#0d0438, #0d0438);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out; }
  .nav-link:hover {
    background-size: 100% 2px, auto; }

/*Main*/
main nav .breadcrumb {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  padding-top: 80px; }
  main nav .breadcrumb:hover {
    color: #e1c9f0; }

.titulos__micaScott {
  color: #0d0438;
  font-family: "Staatliches", cursive;
  font-size: 600%;
  margin: 0px 0px 20px 20px;
  padding: 0px 0px 20px 20px; }

.titulos__secciones {
  font-family: "Staatliches", cursive;
  font-size: 170%;
  padding: 2px 0px 2px 40px;
  margin-bottom: 40px; }

li {
  color: #0d0438;
  list-style-type: none;
  font-size: 110%;
  padding: 5px; }

a {
  color: #0d0438;
  text-decoration: none; }

h1 {
  color: #0d0438; }

h2 {
  margin: 15px 0px 15px 0px;
  color: #0d0438;
  background-color: pink; }

span {
  color: #0d0438;
  background-color: pink;
  font-size: 120%;
  font-family: "Staatliches", cursive; }

/*Cursos*/
.imagenClases {
  display: block;
  margin: auto;
  margin-bottom: 40px; }

/*Portfolio*/
.calesita {
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(225, 201, 240, 0.8);
  padding: 40px 0px 40px 0px; }

/*Footer*/
.geografia {
  color: #0d0438;
  padding-left: 20px; }

.navRedes li {
  display: inline-block;
  padding: 10px; }
  .navRedes li:hover {
    transform: scale(1.1); }

.copyright {
  color: #0d0438;
  text-align: right;
  font-size: 80%;
  margin-right: 20px; }

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  body #micaScott {
    color: pink;
    background-color: rgba(255, 192, 203, 0.2);
    font-family: "Staatliches", cursive;
    font-size: 600%;
    margin: 90px 0px 0px 0px;
    padding: 40px 0px 40px 40px; }
  body #makeupBeautyArt {
    color: #0d0438;
    background-color: pink;
    font-family: "Staatliches", cursive;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: right;
    animation: fadeInUp 3s; }
  body #footerIndex {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }

.gridCatalogos {
  background-color: #e1c9f0;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  align-content: space-evenly; }
  .gridCatalogos div a img:hover {
    transform: scale(1.1); }

.pediPorWa p {
  font-size: 120%;
  font-family: sans-serif;
  text-align: left;
  margin-left: 40px; }

.giftcards {
  display: inline-block;
  background: lavender;
  padding: 5px; }
  .giftcards li {
    text-decoration: none;
    line-height: 1.5; }
    .giftcards li:hover {
      background: pink; }

.sobreMi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "article1 article2" "article3 article4";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: stretch; }

.article1 {
  grid-area: article1;
  background-color: #e1c9f0;
  justify-self: center;
  align-self: center;
  position: relative; }

.article2 {
  grid-area: article2;
  background-color: #e1c9f0;
  justify-self: center;
  align-self: center;
  position: relative; }

.article3 {
  grid-area: article3;
  background-color: #e1c9f0;
  justify-self: center;
  align-self: center;
  position: relative; }

.article4 {
  grid-area: article4;
  background-color: #e1c9f0;
  justify-self: center;
  align-self: center;
  position: relative; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.article1:hover .image {
  opacity: 0.3; }

.article1:hover .middle {
  opacity: 1; }

.article2:hover .image {
  opacity: 0.3; }

.article2:hover .middle {
  opacity: 1; }

.article3:hover .image {
  opacity: 0.3; }

.article3:hover .middle {
  opacity: 1; }

.article4:hover .image {
  opacity: 0.3; }

.article4:hover .middle {
  opacity: 1; }

.text {
  background-color: pink;
  color: #0d0438;
  font-size: 130%; }

#enviarFormulario {
  margin: 30px 0px 5px 0px; }

.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(225, 201, 240, 0.8); }
  .contacto .fondoFormulario form {
    background-color: #ffffff;
    line-height: 2.5;
    text-align: left;
    padding: 40px 40px 40px 40px;
    margin: 40px 0px 40px 0px; }
  .contacto .imgContacto {
    margin: auto; }

@media (max-width: 575.98px) {
  /*Cursos*/
  .imagenClases {
    margin: 0px 0px 30px 0px; }
  /*Catalogos*/
  .gridCatalogos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); }
  /*Sobre mi*/
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container .image {
    opacity: 0.3; }
  .container .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; }
  .contacto {
    display: flex;
    flex-wrap: wrap; } }

/*Contacto*/
.contacto img {
  padding: 40px 40px 40px 40px;
  margin: 10px 0px 40px 0px; }

@media (min-width: 576px) and (max-width: 767.98px) {
  /*Cursos*/
  .imagenClases {
    margin: 0px 0px 30px 0px; }
  .gridCatalogos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); }
  /*Sobre mi*/
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container .image {
    opacity: 0.3; }
  .container .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; }
  /*Contacto*/
  .contacto {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  #footerIndex {
    margin-top: 560px; }
  .gridCatalogos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .sobreMi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "article1"  "article2" "article3" "article4"; }
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center; }
    .contacto img {
      padding: 40px 40px 40px 40px;
      margin: 0px 0px 40px 0px;
      animation: fadeInUp 3s; }
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container .image {
    opacity: 0.3; }
  .container .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .gridCatalogos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .contacto {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr); }
  .form-group {
    width: 20vw; }
  /*sobre mi*/
  .container {
    position: relative; }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .container:hover .image {
    opacity: 0.3; }
  .container:hover .middle {
    opacity: 1; }
  .text {
    background-color: pink;
    color: #0d0438;
    font-size: 130%; } }
