/*Body*/
body {
	background-color: $colorWhite;
}
/*Header*/
.navbar {
	position:fixed;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: flex-end;
	padding:0;	
	margin: auto;
	.navbar-nav{
		display: flex;
		flex-wrap:wrap;
		li {
		padding: 15px 25px 15px 25px;
		letter-spacing:1.5px;
		font-family: $fontNavbar;
		}
}
}
#menu {
	flex-grow: 0;
}
#menu, .navbar-toggler { 
background-color:rgba($colorPinky, 1);
}
.navbar-toggler{
	margin: 15px;
}
.nav-link{
  background-image: linear-gradient($colorPurple, $colorPurple);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
  &:hover {
  	 background-size: 100% 2px, auto;
}
}
/*Main*/
main{
	nav{
		.breadcrumb{
			display: flex;
			justify-content: flex-end;
			background-color: $colorWhite;
			padding-top:80px;
			&:hover{
			color: $colorLilac;
			}
		}
	}
}
.titulos__micaScott{
	color: $colorPurple;
	font-family: $fontNavbar;
	font-size: 600%;
	margin: 0px 0px 20px 20px;
	padding: 0px 0px 20px 20px;
}
.titulos__secciones{
	font-family: $fontNavbar;
	font-size: 170%;
	padding: 2px 0px 2px 40px;
	margin-bottom: 40px;
}
li{
	color: $colorPurple;
	list-style-type: none;
	font-size: 110%;
	padding: 5px;
}
a{
	color: $colorPurple;
	text-decoration: none;
}
h1{
	color:$colorPurple;	
}
h2{
	margin: 15px 0px 15px 0px;
	@include colors;
	}
span{
	@include colors;
	font-size: 120%;
	font-family: $fontNavbar;
}
/*Cursos*/
.imagenClases{
	display: block;
	margin: auto;
	margin-bottom: 40px;
}
/*Portfolio*/
.calesita {
	justify-content: space-evenly;
	align-items:center;
	background-color: rgba($colorLilac, 0.8);
	padding: 40px 0px 40px 0px;
}
/*Footer*/
.geografia{
	color:$colorPurple;
	padding-left: 20px;
}
.navRedes li{
	display: inline-block;
	padding: 10px;
	&:hover{
	transform: scale(1.1);
}
}
.copyright {
	color: $colorPurple; 
	text-align: right;
	font-size: 80%;
	margin-right: 20px;
} 