#enviarFormulario {
	margin: 30px 0px 5px 0px;
}


 .contacto {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items:center;
	background-color: rgba($colorLilac, 0.8);

	.fondoFormulario {
	form {
	background-color: $colorWhite;
	line-height:2.5;
	text-align: left;
	padding: 40px 40px 40px 40px;
	margin: 40px 0px 40px 0px;
}
}
 	.imgContacto {
 		margin: auto /*30px*/;
 		/*align-self: center;
		padding: 40px 40px 40px 40px;
		margin: 50px 0px 40px 0px;*/
		animation: fadeInRight 3s;
	}	
}

/*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}*/
