body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	#micaScott {
	color:$colorPinky;
	background-color: rgba($colorPinky, 0.2);
	font-family: $fontNavbar;
	font-size: 600%;
	margin: 90px 0px 0px 0px;
	padding: 40px 0px 40px 40px;	
}
	#makeupBeautyArt {
	color:$colorPurple;
	background-color:$colorPinky;
	font-family: $fontNavbar;
	font-size: 200%;
	letter-spacing: 2px; 
	text-align: right;
	animation: fadeInUp 3s;
}
	#footerIndex {
	position: fixed;
	bottom: 0;
	left:0;
	right: 0;
}	
}



