body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	#micaScott {
	color: $colorBlack;
	font-family: $fontTitle;
	font-size: 600%;
	margin: 40px 0px 20px 40px;
	padding: 40px 0px 20px 20px;	
}
	#makeupBeautyArt {
	color: black;
	font-family: $fontNavbar;
	font-size: 200%;
	letter-spacing: 2px; 
	padding-left: 45vw;
	background: rgba($colorWhite, 0.3);
	animation: fadeInUp 3s;
}
	#footerIndex {
	margin-top: 440px;
}	
}



