body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#micaScott {
	color: $colorPuple;
	font-family: $fontTitle;
	font-size: 600%;
	margin: 40px 0px 20px 0px;
	padding: 40px 0px 20px 20px;	
}

#makeupBeautyArt {
	color: $colorPuple;
	font-family: $fontNavbar;
	font-size: 200%;
	letter-spacing: 2px; 
	margin-left: 120px;
	background: $colorLilac;
	animation: fadeInRight 3s;
}

#footerIndex {
	margin-top: 460px
}