/*Servicios*/
/*Cursos*/
.gridCursos{
	background-color: $colorLilac;
	.imagenClases{
	display: block;
	margin: auto;
	padding: 40px;
}
}
/*Social*/
.gridSocial{
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 3fr;
	background-color: $colorLilac;
	.imagenSocial{
		padding: 40px;
	}
	.social{
		text-align: left;
		margin-top: 40px;
		margin-right: 40px;
			li{
			margin: 10px 0px 10px 0px;
		}
	}
}
/*editorial*/
.gridEditorial{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 3fr;
	background-color: $colorLilac;
	.editorial{
		text-align: left;
		margin-top: 40px;
		margin-right: 40px;
			li{
			margin: 10px 0px 10px 0px;
		}
	}
	.imagenEditorial{
		padding: 40px;
	}
}
/*festejá con nosotros*/
.gridFesteja{
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr;
	background-color: $colorLilac;
	.imgFesteja{
		padding: 40px;
	}
	.festeja{
		text-align: left;
		margin-top: 40px;
		margin-right: 40px;
			li{
			margin: 10px 0px 10px 0px;
		}
	}
}