.sobreMi {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"article1 article2"
	"article3 article4";
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: stretch;
	}
	
@for $i from 1 through 4 {
  .article#{$i} {
  grid-area: article#{$i}; 
  background-color: $colorLilac;
	justify-self: center;
	align-self: center;
  }
}
/*card*/
.article1 {
  position: relative;
 }
.article2 {
  position: relative;
 }
.article3 {
  position: relative;
 }
.article4 {
  position: relative;
 }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 10px;
	margin-bottom: 10px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.article1:hover .image {
  opacity: 0.3;
}

.article1:hover .middle {
  opacity: 1;
}

.article2:hover .image {
  opacity: 0.3;
}

.article2:hover .middle {
  opacity: 1;
}

.article3:hover .image {
  opacity: 0.3;
}

.article3:hover .middle {
  opacity: 1;
}

.article4:hover .image {
  opacity: 0.3;
}

.article4:hover .middle {
  opacity: 1;
}

.text {
  background-color: $colorPinky;
  color: $colorPurple;
  font-size: 130%;
 }