$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLilac: #e1c9f0;
$colorPurple: #0d0438;
$colorPinky: pink ;
$fontNavbar: 'Staatliches', cursive ;
$fontH2: 'Playfair Display SC', serif ;
@mixin colors{
	color:$colorPurple; 
	background-color:$colorPinky;
}

@import "body";
@import "index";
@import "tienda-online";
@import "sobre-mi";
@import "contacto";
@import "jquery-smallmobile";
@import "jquery-mobile";
@import "jquery-tablet";
@import "jquery-desktop";




