$colorLilac: #e1c9f0 ;
$colorPuple: #0d0438 ;
$colorPinky: pink ;
$fontTitle: 'caveat', cursive ;
$fontNavbar: 'Staatliches', cursive ;
$fontH2: 'Playfair Display SC', serif ;
@mixin colors{
	color:$colorPuple; 
	background-color:$colorPinky;
}

@import "body";
@import "index";
@import "tienda-online";
@import "sobre-mi";
@import "contacto";
@import "jquery-smallmobile";
@import "jquery-mobile";
@import "jquery-tablet";
@import "jquery-desktop";

/*@import "newform";*/


